kaggle.json
dataset/
# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
pip-wheel-metadata/
*.log
*.sqlite3
*.db
.ipynb_checkpoints/

# Virtual environments
venv/
ENV/
env/
.venv/
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Unit test, coverage, and pytest cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache
htmlcov/

# IDE/config
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Mac/Linux/Windows OS files
.DS_Store
Thumbs.db

